<h1>Découverte Angular</h1>

<a no-open href="https://google.com">Google !</a>

<user-profile [hired]="true" first-name="elodie" last-name="Gareil" job="dev" revenue="1200"></user-profile>


<counter></counter>
<br/>
<counter [initial-value]="17" [step]="2"></counter>


<a confirm confirm-message="Wesh ? T'es sur de toi ?" href="https://twitter.com"> Twitter !</a>

<p highlight base-color="purple">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores doloribus ducimus error et maxime repudiandae ut vel voluptatum. Molestiae repellat sed suscipit tempora voluptas!
</p>

<p highlight background-color="blue">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid dolorum ea neque nobis sed?
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur cupiditate expedita facere impedit nam nisi odit perferendis ratione similique, soluta suscipit veniam voluptatem voluptatum.
</p>
